.main {
	position: absolute;
	margin-top: 60px;
}
.preload {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.statesList {

	float:left;
	width:200px;
}

.stateInfo { 
	margin-left: 340px;
	margin-top: 80px;
	  background: #113333;
	  -webkit-border-radius: 2px;
	  -moz-border-radius: 2px;
	  border-radius: 2px;
	  color: #FFFFFF;
/*	margin-left: 340px;
	margin-top: 80px;
	box-sizing:border-box;

	border:1em solid red;*/
	
}

body {
	padding: 0; /* Gets rid of the automatic padding */
	margin: 0;	/*	on HTML documents */
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(1,1,1,0.9);
  color: rgba(1, 1, 1, 0.8);
}

#navigation a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

#navigation a:hover {
	color: grey;
}

/* This just adds some style to the placeholder text */

#content {
	width: 600px;
	padding-top: 70px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#content img {
	padding-top: 20px;
	padding-bottom: 30px;
}