* {
  * margin:0;
  * padding:0;
  * border:0;
}
html, body { 
	font-family:  'Titillium Web', cursive;
	background: #FFFFFF; 
	color: #2B718c;
	height:90%;
  width:100%;
  min-width:600px;
}

header, nav, section {
  display:block;
 }

#wrapper {
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  heightght: auto !important;
  height: 100%;
}
/*---Header---*/
#header {
  height: 100px;
  clear:both;
  float:left;
  width:100%;
}
.title{
  font-family: 'Poiret One';
	font-size:40px;	
	text-align:right;
	margin-right: 30px;
	margin-top: 10px;
}

.nomeEstado {
  text-align: right;
  font-size: 25px;
  margin-right: 31px;
  margin-top: 5px;
}
/*---Area de conteudo---*/
#main {
	position: relative;
  width: 100%;
//  padding: 0 0 100px;
  clear:both;
  float:left;
  overflow:hidden;
}

#main:after {
  content:'';
  clear: both;
  display:table;
}

#container {
  width: 100%;
  float: left;
  overflow:hidden;
  position:relative;

}
/*---Mapa--*/
#mapa {
  padding: 35px 270px 0 270px;
}

.coluna {
  float:left;
  position:relative;
}

.col1 {
  width:190px;
//  left:102%;
}

.col2 {
  width:135px;
 // left:31%;
}

.col3 {
  width:21%;
//  left:85%;
}

/*---Coluna esquerda---*/
#sideLeft {
  float: left;
//  width:250px;
//  margin-left: -100%;
  position: relative;
}

.tituloEstado {
  font-size:19px;
  color:#255368;
  margin-left:17px;
}

.statesList {
	float:left;
	height:500px;
	line-height:1.9em;
	border-left:0;
	position:relative;

	margin-left:-20px;
	text-align:left;
	font-size:15px;
	font-family: 'Titillium Web', sans-serif;
	overflow-y: scroll;
	
}

.statesList a {
	text-decoration:none;
  color: #2B718c;
}
.statesList ul { 
	list-style:none;
}
.statesList li { 
	border-top: 1px solid #eee;
	width: 150px;
}

.stateInfo { 
	font-weight:none;
	margin-left: 340px;
	margin-top: 0px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*---Coluna direita---*/
#sideRight {
  float:right;
  margin-right: 25px;
  width: 400px;
//  margin-left: -250px;
  position:relative;
}

.preload {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

#graficos {
border: rgb(243, 243, 243);
border-style: solid;
border-width: 3px;
background-color: rgb(230, 230, 230);
padding: 10px;
position:relative;
margin:auto;
}

#histograma {
  width:65%;
  margin:auto;
  height:270px;
  clear:both;
}

#quadroDados {
  font-size:16px;
  display:inline-block;
}
#pie {
  float:right;
  width:280px;
}
.pieContainer {
}
#porTipoDeVeiculo {
  float:left;
}

.tituloGraficos {
  font-size:17px;
  color: #255368;
  display:block;
  text-align:center;
  padding-bottom: 10px;
}
.iconVeiculo {
  float:left;
  margin-left:25px;
}

.dadoVeiculo {
  color:#dd9143;
  font-size: 15px;
  position: relative;
  margin-top: 5px;
  font-weight: 900;
  text-align:center;
}

#informationPorTipoDeVeiculo {
  width: 90%;
  margin: auto;
}

#informationPorTipoDeVeiculo .titulo {
  clear:both;
  display:block;
  text-align: center;
  color:#255368;
}

#informationPorTipoDeVeiculo .dado {
  font-size:22px;
  margin-right: 10px;
  clear:both;
  display:block;
  text-align: center;
}

#informationPorTipoDeVeiculo .subTitulo {
  font-size: 10px;
}

#rankingInformation {
//  float:left;
  width:100%;
  margin-left:10px;
  font-size:15px;
  text-align:center;
  color:#255368;
}

#rankingInformation description {
  float:left;
  width:120px;
}
#rankingInformation .titulo{
  height:30px;
 }
#rankingInformation .subTitulo{
  font-size:10px;
  margin-top:-12px;
}
