@media screen and (min-width: 751px) and (max-width: 1110px) {
  .mapContainer {
    min-width: 65%;
  }

  #sideRight {
    clear: both;
    width: 100%;
    margin-top: 1%; 
  }
}
@media screen and (max-width: 750px) {
  #header {
    font-size: 60%;
    line-height: 3.2em;
  }
  #sideRight {
    width: 65%;
  }

  .mapContainer{
    display: none;
  }
}
@media screen and (max-width: 330px) {
  #sideRight {
    margin-left: 0;
    clear: both;
    width: 100%;
  }
  
  .tituloEstado, .subtituloEstado, .statesList {
    display: none;
  }
  
  #sideLeft {
    width: 100%;
  }
  
  .statesList {
    height: 6em;
  }

  #isStateSelected:checked+.statesList {
    display: block;
  }

}